name: Run Tests

on:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - name: Install pnpm
        run: |
          corepack enable
          corepack use pnpm@latest

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run eslint
        run: pnpm lint

      - name: Run tests
        run: pnpm test
